<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>courses</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/colorful.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--    vue cdn-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!--    站点统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?6bb00f37c92faf23f4a4c1bf4388cc3f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<a name="top"></a>

<body>
<a href="#top" style="position: fixed;left: 82vw;top: 80vh;font-size: 5em;z-index: 9999;">
    <span class="glyphicon glyphicon-circle-arrow-up"></span>
</a>

<div id="vm-node">
    <nav class="navbar navbar-default g-bg">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: white">Course</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#courseIntroduction">课程介绍</a></li>
                    <li><a href="#notification">课程通知</a></li>
                    <li><a href="#avatarGroup">课程教师</a></li>
                    <template v-for="section in sections">
                        <li v-if="section.navTitle"><a :href="'#'+section.navTitle">{{section.navTitle}}</a></li>
                    </template>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div>
        <section>
            <div class="container">
                <!--    课程名-->
                <div id="interactive-panel">
                    <div id="banner">
                        <div class="text-center">
                            <div class="text-xsl course-title" v-html="courseTitle"></div>
                            <div class="text-bold text-xl" v-html="courseSubTitle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--    课程介绍-->
        <section>
            <a name="courseIntroduction"></a>
            <div class="container">
                <p class="section-title">课程介绍
                </p>
                <p v-html="courseIntroduction" class="content-text"></p>
            </div>
        </section>

        <!--    课程通知-->
        <section>
            <a name="notification"></a>
            <div class="container">
                <p class="section-title">课程通知
                </p>
                <div :class="'alert alert-'+ notification.level" role="alert"
                     v-for="notification in notifications"
                     v-html="notification.content">
                </div>
            </div>
        </section>
        <!--        人员信息-->
        <section>
            <a name="avatarGroup"></a>
            <div class="container">
                <p class="section-title">课程教师</p>
                <div v-for="group in avatarGroup">
                    <p class="text-bold text-xl" v-html="group.groupName"></p>
                    <div class="flex justify-start">
                        <div class="text-center margin-right-xl" v-for="member in group.members">
                            <div>
                                <img :src="member.url"
                                     class=" img-circle  avatar">
                                <div v-html="member.name" class="member-name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section v-for="(section, index) in sections">
            <div class="container">
                <a :name="section.navTitle"></a>
                <!--                区块title-->
                <p class="section-title" v-html="section.title"></p>
                <!--                区块文字条目-->
                <template v-for="textItems in section.textItems">
                    <p class="content-title" v-if="textItems.title" v-html="textItems.title"></p>
                    <template v-for="content in textItems.contents">
                        <ul class="list-group" v-if="content instanceof Array">
                            <li class="list-group-item" v-for="text in content" v-html="text"></li>
                        </ul>
                        <p class="content-text" v-else v-html="content"></p>
                    </template>
                </template>

                <table class="table table-striped" v-if="section.tableData">
                    <tr>
                        <th v-for="head in section.tableData.heads" v-html="head"></th>
                    </tr>
                    <tr v-for="row in section.tableData.rows">
                        <td v-for="rowItem in row" v-html="rowItem"></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>

<!--        页面访问统计-->
<div class="container">
 <a href='https://clustrmaps.com/site/1bjsb'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=tt&d=YwNAitC_fn2jWEiFHpUz8mQ5dk6C-8MccWL4jn1yUAQ'/></a>
</div>
<br>
</body>

<!--&lt;!&ndash; hitwebcounter Code START &ndash;&gt;-->
<!--<div class="text-center clearfix">-->
<!--    <span>访问量统计：</span>-->
<!--    <a href="https://www.hitwebcounter.com" target="_blank">-->
<!--        <img src="https://hitwebcounter.com/counter/counter.php?page=7862432&style=0024&nbdigits=9&type=page&initCount=0"-->
<!--             title="Free Counter" Alt="web counter" border="0"/></a>-->
<!--</div>-->


<script src="data.js"></script>
<script>
    window.app = new Vue({
        el: '#vm-node',
        data() {
            this.parseUserData()
            return window.userData
        },
        methods: {
            parseUserData() {
                this._traverse(window.userData)
                this.data = window.userData
            },
            md2html(mdText) {
                mdText = this._href(mdText)
                mdText = this._bold(mdText)
                return mdText
            },
            _href(mdText) {
                return mdText.replace(/\[(.*)\]\((.+)\)/g, "<a target='_blank' href=\"" + "$2" + " \" >" + "$1" + "</a>")
            },
            _bold(mdText) {
                return mdText.replace(/\*\*(.+)\*\*/g, "<b>$1</b>")
            },
            _traverse(json) {
                for (let key in json) {
                    if (json[key] instanceof Object) {
                        this._traverse(json[key])
                    } else {
                        json[key] = this.md2html(json[key])
                    }
                }

            }
        }
    })

    // 交互式面板
    $('#interactive-panel').on('mousemove', function (e) {

        let offset = $('#interactive-panel').offset()

        let x = e.pageX - offset.left
        let y = e.pageY - offset.top


        let centerX = $('#interactive-panel').outerWidth() / 2
        let centerY = $('#interactive-panel').outerHeight() / 2

        let deltaX = x - centerX
        let deltaY = y - centerY

        let percentX = deltaX / centerX
        let percentY = deltaY / centerY

        let deg = 10


        $('#banner').css({
            transform: 'rotateX(' + deg * -percentY + 'deg)' +
                ' rotateY(' + deg * percentX + 'deg)'
        })
    })

    $('#interactive-panel').on('mouseleave', function () {
        $('#banner').css({
            transform: ''
        })
    })
</script>
</html>